@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("aos/dist/aos.css");

@layer base {
    html {
        scroll-behavior: smooth;
        font-family: "Rubik", sans-serif;
        overflow-x: hidden;
    }

    /* Remove daisy ui outline on form elements */
    .input:focus,
    .select:focus,
    .textarea:focus,
    .file-input:focus {
        @apply outline-0 !important;
    }

    /* Reset daisy ui default */
    .select {
        @apply font-normal !important;
    }

    /* Number Input Reset */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }

    .text-stroke {
        color: #2f2d2d; /* Stroke color */
        text-shadow: -6px -6px 0 #5d5cd6, 6px -6px 0 #5d5cd6, -6px 6px 0 #5d5cd6, 6px 6px 0 #5d5cd6;
        /* -webkit-text-stroke: 6px #5d5cd6;
        text-stroke: 6px #5d5cd6;
        -webkit-text-fill-color: #2f2d2d;
        color: #2f2d2d; */
    }

    .text-stroke-sm {
        color: #2f2d2d; /* Stroke color */
        text-shadow: -3px -3px 0 #5d5cd6, 3px -3px 0 #5d5cd6, -3px 3px 0 #5d5cd6, 3px 3px 0 #5d5cd6;
        /* -webkit-text-stroke: 3px #5d5cd6;
        text-stroke: 3px #5d5cd6;
        -webkit-text-fill-color: #2f2d2d;
        color: #2f2d2d; */
    }
}

.marquee-container {
    width: 100%;
    overflow: hidden;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee-animation 15s linear infinite;
}

.marquee-content-2 {
    display: inline-block;
    white-space: nowrap;
    animation: marquee-animation 15s linear infinite;
    animation-delay: 15s;
}

@keyframes marquee-animation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
